@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
* {
  margin: 0;
  padding: 0;
 
}
body {
 background-color:#98c1d9;

}

header h1{
background-image:url("../img/pawprints.png");
  background-size: 120px; 
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10rem;
}

 header h2{
  color:#03045e;
  text-align: center;
  border: 10cm;
  font-size: 4rem;
 padding: 3rem;
}

 header h3{
  color: #03045e;
  text-align: center;
  border: 3cm;
 padding: 3rem;
}

header h4{
  color: #03045e;
  text-align: justify;
  border: 10cm;
  font-size: 4rem;
 padding: 3rem;
  
}

div #img{
  justify-content: center;
  width: 100%;
  padding: 8rem;
  border-image-width: auto;
}

div#img img{
display:block;
margin: auto;
}

div#txt {
text-align: center;
}

footer{
  
  background-image:url("../img/pawprints.png");
  background-size: 100px; 
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10rem;


}